
html 
    head
    body
        h1(style="color: #0082b6b6; margin: auto; width: min-content;")="INGRESE LOS DATOS CORRESPONDIENTES:"
        br
        br
        form(action="/productos" method="POST" style="background-color: #89fafac2; width: min-content; padding: 2em; margin: 6em auto 0em auto; border: 2px solid #fdffffd0; box-shadow: 0px 0px 10px rgb(0, 60, 255)")
            div(style="display: flex; margin: auto; width: min-content;")
                label(for="price")="PRECIO:"
                input(type="number" min="0" name="price" placeholder="1000")
                label(for="price")="TITULO:"
                input(type="text" name="title" placeholder="cartuchera")
                label(for="price")="FOTO:"
                input(type="text" name="thumbnail" placeholder="https://cdn4.iconfinder.com/data/icons/back-to-school-149/64/pencil-case-office-tool-education-128.png")
            br
            br
            button(style="margin: auto; align-self: center; display: flex; background-color: #fffe4e; border-radius: 10px; border: 1.5px solid")="ENVIAR"
        button(style="margin:3em auto 3em auto" onclick="window.location.href='/productos'")="IR A PRODUCTOS"
